@model QuanLyTour.Models.ChiTietDiaDiem

<h4>Địa điểm tham quan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemDiaDiem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MaTour" value="@ViewBag.Id" class="form-control" />
            <div class="form-group">
                <label asp-for="MaDiaDiem" class="control-label">Tên loại hình</label>
                <select asp-for="MaDiaDiem" asp-items="ViewBag.diaDiemList">
                </select>
                <span asp-validation-for="MaDiaDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách tour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
