@model QuanLyTour.Models.ChiTietDoanKhach

<h4>Chi tiết đoàn khách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form" asp-action="ThemDoan" onsubmit="return required()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="MaKhachHang" type="hidden" value="@ViewBag.Id" class="form-control" />
            <div class="form-group">
                <label  class="control-label">Tên tour</label>
                <select id="matour" asp-items="ViewBag.TenTourList" >
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaSoDoan"  class="control-label">Đoàn du lịch</label>
                <select id="madoan" asp-for="MaSoDoan" disabled>
                </select>
                <span asp-validation-for="MaSoDoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày khởi hành</label>
                <input id="ngaybatdau" type="datetime-local" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Ngày kết thúc</label>
                <input id="ngaykeythuc" type="datetime-local" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Giá vé</label>
                <input id="giave" value ="@ViewBag.giave" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="GhiChú" class="control-label"></label>
                <input asp-for="GhiChú" class="form-control" />
                <span asp-validation-for="GhiChú" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách khách hàng</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            $('#matour').change((e) => {
                $.post('/khachhang/ajaxGetDoan',{MaTour : e.target.value},(data) => {
                    if(data.length > 0){
                        console.log(data);

                        $("#madoan").html("");

                        data.forEach((value,index) =>{
                                    console.log(value)
                                    var opt1 = document.createElement("option");
                                    opt1.value = value.maSoDoan;
                                    opt1.text = value.tenDoanDuLich;
                                    document.getElementById("madoan").add(opt1,null);
                            }
                        );
                        $('#madoan').removeAttr("disabled");
                        $("#ngaybatdau").val(data[0].ngayKhoiHanh);
                        $("#ngaykeythuc").val(data[0].ngayKetThuc);
                         $.post('/khachhang/ajaxGetGia',{MaTour :e.target.value,ThoiGianBatDau :$("#ngaybatdau").val(),ThoiGianKetThuc : $("#ngaykeythuc").val()},(data) => {
                            console.log(data);
                            $("#giave").val(data);
                        });
                    }else{
                        $("#madoan").html("");
                    }
                    
                });
               
            });;

             $('#madoan').change((e) => {
                $.post('/khachhang/ajaxGetNgayDoan',{MaDoan :e.target.value},(data) => {
                     console.log(data);
                    $("#ngaybatdau").val(data[0].ngayKhoiHanh);
                    $("#ngaykeythuc").val(data[0].ngayKetThuc);
                    $.post('/khachhang/ajaxGetNgayDoanGia',{ThoiGianBatDau :$("#ngaybatdau").val(),ThoiGianKetThuc : $("#ngaykeythuc").val()},function(data){
                        console.log(data);
                        $("#giave").val(data);
                    });
                });
            });
        });

        function required()
        {
            var empt = document.forms["form"]["giave"].value;
            var empt1 = document.forms["form"]["ngaybatdau"].value;
            var empt2 = document.forms["form"]["ngaykeythuc"].value;

            if (empt == "" ||empt1 == "" ||empt2 == "" )
            {
                alert("Tour này chưa có giá vé");
                return false;
            }
        }
    </script>
}
