@model QuanLyTour.Models.ChitietCp

<h4>Chi tiết chi phí</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaChiPhi" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSoDoan" class="form-control" />
            <input type="hidden" asp-for="MaChiPhi"  class="form-control" />
            <div class="form-group">
                <label asp-for="MaChiPhiNavigation.TenChiPhi" class="control-label">Tên chi phí</label>
                <input asp-for="MaChiPhiNavigation.TenChiPhi"  class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách đoàn</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

