@{
    ViewData["Title"] = "Thống kê doanh thu";
}


<div class="form-group">
     <label  class="control-label">Tên tour</label>
     <select id="matour"  asp-items="ViewBag.tourList">
     </select>
</div>
<div class="form-group">
     <label  class="control-label">Từ ngày</label>
     <input id="ngaybatdau" type="datetime-local" class="form-control" disabled/>
</div>
<div class="form-group">
     <label  class="control-label">Đến ngày</label>
     <input id="ngaykeythuc" type="datetime-local" class="form-control" disabled/>
</div>
<div class="form-group">
     <input type="button" id="submit" value="Thống kê" class="btn btn-primary" />
</div>

<div class="row">
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
               Doanh thu
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class ="card">
            <div class="card-header">
                Doanh Thu
            </div>
            <div class="card-body">
                <canvas class="my-4 h-25" id="pie"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"  ></script>
<script type="text/javascript">
        $(document).ready(() => {
            $('#matour').change((e) => {
                $.post('/thongke/ajaxGetNgay',{MaTour : e.target.value},(data) => {
                    if(data.length > 0){
                        console.log( data[0].thoiGianBatDau,data[0].thoiGianKetThuc);
                        $('#ngaybatdau').val(data[0].thoiGianBatDau ) ;
                        $('#ngaykeythuc').val(data[data.length - 1].thoiGianKetThuc) ;
                        $('#ngaybatdau').removeAttr("disabled")  ;
                        $('#ngaykeythuc').removeAttr("disabled");
                    }else{
                        console.log("abc")
                        $('#ngaybatdau').val("") ;
                        $('#ngaykeythuc').val("");
                    }
                    ;
                });
            });
             $('#submit').click((e) => {
                 if($("#ngaybatdau").val()!="" && $("#ngaykeythuc").val()!=""){
                     $.get('/thongke/TKDoanhThu',{MaTour :$('#matour').val(),ThoiGianBatDau: $("#ngaybatdau").val(),ThoiGianKetThuc : $("#ngaykeythuc").val()},(data) => {
                        if(data.length > 0){
                            console.log(data);
                            getThongKe(data);
                        }else{
                            alert("Chưa có dữ liệu thống kê vui lòng kiểm tra lại")
                        }
                      });
                 }else{
                        alert("Chưa có dữ liệu thống kê vui lòng kiểm tra lại")
                 }
             })
        });

        var mybarhart = null;
        var mypieChart = null;

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function getRandomColorEachEmployee(count) {
            var data =[];
            for (var i = 0; i < count; i++) {
                data.push(getRandomColor());
            }
            return data;
        }
        
        function getThongKe(data){
            var lables = [];
            var datas =[];
            $.each(data,(index,item) => {
                lables.push(item.tenDoanDuLich);
                datas.push(item.doanhThu);
            })

            console.log(lables);
            console.log(datas);
            if(mybarhart != null){
                mybarhart.destroy();
            }
            var barchart = document.getElementById('bar').getContext('2d');
            var barchartdata = {
                    labels: lables,
                    datasets: [{
                        label: 'Thống kê doanh thu',
                        data: datas,
                        backgroundColor: getRandomColorEachEmployee(lables.length),

                    }]
                }
            mybarhart = new Chart(barchart,{
                type : 'bar',
                data:barchartdata,
            })
           

            if(mypieChart != null){
                mypieChart.destroy();
            }
            var piechart = document.getElementById('pie').getContext('2d');
            mypieChart = new Chart(piechart,{
                type : 'pie',
                data:{
                    labels: lables,
                    datasets: [{
                        label: 'Bar chart',
                        data: datas,
                         backgroundColor: getRandomColorEachEmployee(lables.length),

                    }]
                }
            })
        }
   
</script>
}